@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --spaceblue: #003B59;
    --white: #FFF;
    --litblu: aliceblue;
    --bodytext: #B2BEB5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Urbanist", Arial, sans-serif;
}

html {
    background-color: transparent;
}

body {
    background-image: url("../images/starstrees1.jpg");
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
  display:flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid green;
}

#left {
  border: 3px solid turquoise;
  width: 50%;
}

#right {
  border: 3px solid maroon;
  width: 50%;
}

nav a {
  position: relative;
  margin-top: 5rem;
  padding: 8px;
  left: 0;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: var(--white);
  border-radius: 8px 0 8px 0;
  }
  
  nav a:hover {
    cursor: url( "../images/cursorcomet.png" ), auto;
    box-shadow: 3px 3px 3px #aaaaaa, inset  0 -3em 3em rgb(10 10 10 / 30%);
    left: 10px;
    transform: scale(1.1);
  }

  #about {
    top: 40px;
    background-color: var(--spaceblue);
  }
  
  #work {
    top: 80px;
    background-color: var(--spaceblue);
  }
  
  #contact {
    top: 120px;
    background-color: var(--spaceblue);
  }

  #resume {
    top: 160px;
    background-color: var(--spaceblue);
  }

header {
  padding: 2rem 0 0 4rem;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
    color: var(--litblu);
    font-size: 3rem;
    width: 80%;
    margin: 40px 20px;
    opacity: 100%;
  }

h2 {
  color: var(--litblu);
    font-size: 1.3rem;
    opacity: 100%;
  }

h3 {
  color: var(--litblu);
    font-size: 1.3rem;
    opacity: 100%;
    padding: 35px;
  }
  
 main {
    min-height: 20vh;
    width: 85%;
  }

main p {
    color: var(--bodytext);
    font-size: 1.3rem;
    padding: 10px;
} 

section {
  padding: 30px;
}

section a {
  font-size: 1.3rem;
  color: var(--litblu);
  text-decoration: none;
}

section a:hover {
  color:#00A0C6; 
  text-decoration:none;
  cursor:pointer; 
}

.first-project {
max-height: 250px;
}

.card {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  color: var(--bodytext);
}

.card img {
  max-height: 180px;
  float: left;
  border: 2px solid var(--spaceblue);
}

.card img:hover {
  box-shadow: 0 0 50px 15px #0e0f0f;
}

.profile-pic {
  border-radius: 50%;
  max-height: 200px;
  border: 3px solid var(--white);
}



.soon {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

footer {
    padding: 30px;
    color: var(--litblu);
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    height: 1vh;
    position: relative;
  
    .card {
      flex: 0 0 50%;
    }
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  nav a {
    text-align: center;
    float: none;
  }
}