@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --spaceblue: #003B59;
    --white: #FFF;
    --litblu: aliceblue;
    --bodytext: #B2BEB5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Urbanist", Arial, sans-serif;
}

html {
    background-color: transparent;
}

body {
    background-image: url("../images/starstrees1.jpg");
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
  display:flex;
  flex-direction: row;
}

.column-left {
  width: 50%;
  align-content: flex-start;
}

nav a {
    position: absolute;
    margin-top: 13rem;
    padding: 13px;
    width: -60px;
    left: 0;
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
    border-radius: 8px 0 8px 0;
  }
  
  nav a:hover {
    cursor: url( "../images/cursorcomet.png" ), auto;
    box-shadow: 3px 3px 3px #aaaaaa, inset  0 -3em 3em rgb(10 10 10 / 30%);
    left: 10px;
    transform: scale(1.1);
  }
  
.column-right {
  width: 50%;
}

header {
  padding: 6rem 2rem;
  font-size: 1.2rem;
}

h1 {
    color: var(--litblu);
    font-size: 3rem;
    width: 80%;
    margin: 40px 20px;
    text-align: right;
    opacity: 100%;
  }

h2 {
  color: var(--litblu);
    font-size: 1.3rem;
    text-align: right;
    opacity: 100%;
    width: 78.5%;
}

h3 {
  color: var(--litblu);
    font-size: 1.4rem;
    text-align: right;
    opacity: 100%;
    width: 74.5%;
}



  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #about {
    top: 20px;
    background-color: var(--spaceblue);
  }
  
  #work {
    top: 80px;
    background-color: var(--spaceblue);
  }
  
  #contact {
    top: 140px;
    background-color: var(--spaceblue);
  }

  #resume {
    top: 200px;
    background-color: var(--spaceblue);
  }

 main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    width: 75%;
    margin-left: 30vw;
  }

main p {
    color: var(--bodytext);
    display: grid;
    font-size: 1.4rem;
    text-align: right;
    width: 74.5%;
    
} 

.content {
  display: flexbox;
  flex-flow: column warp;
  width: 75%;
  margin-right: 20px;
  align-items: baseline;
  align-content: stretch;
  text-align: center;
}

.card {
  display: box;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  color: var(--bodytext);
}

.card img {
  max-height: 200px;
  float: left;
  margin-right: 25px;
  border: 2px solid var(--spaceblue);
}

.card img:hover {
  box-shadow: 0 0 50px 15px #0e0f0f;
}

.profile-pic {
  border-radius: 50%;
  max-height: 200px;
  border: 3px solid var(--white);
}

.soon {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

footer {
    padding: 30px;
    color: var(--litblu);
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    height: 1vh;
    position: relative;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  nav a {
    text-align: center;
    float: none;
  }
}